<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<!--Nom du chemin et fichier Exe de Ght84.AppsLauncherDispatcher.exe-->
		<add key="AppsLauncherDispatcherPath" value="C:\_Dev\vsWorkspace\CURRENT\Ght84.AppsLauncher\Ght84.AppsLauncherDispatcher\bin\Debug\Ght84.AppsLauncherDispatcher.exe" />

		<!--Nom du process de l'exécutable Ght84.AppsLauncherDispatcher.exe -->
		<!--!! Ne pas modifier !!-->
		<add key="AppsLauncherDispatcherProcessName" value="Ght84.AppsLauncherDispatcher" />

		<!--Code de l'environnement des appels contextuels -->
		<!--Valeurs possibles : PRD, TST -->
		<add key="AppsLauncherDispatcherCodeEnv" value="PRD" />

		<!--UDP PORT -->
		<add key="UdpPort" value="5001" />

		<!--Liste des serveurs autorisés à réaliser une exécution distante d'un appel contextuel -->
		<!-- -->
		<add key="RemoteExecutionAllowFromServerList" value="" />




		<add key="ClientSettingsProvider.ServiceUri" value="" />

	</appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>

</configuration>